<h3><i class="fas fa-hiking"></i>Travel Journal</h3>
<div class="section">
  <p class="lead">Share stories from the places you visit</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1 ">
    <i class="fab fa-google left"></i>Log in with Google
  </a>
</div>